@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;

}
body {
  background: hsl(209, 100%, 90%);
}

header {
  background-color: hsl(209, 100%, 30%);
  padding: 16px 32px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  background-color: hsl(209, 100%, 30%);
  position: absolute;
  text-align: right;
  bottom: 0;
  padding: 16px 32px;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #fff;
  font-weight: 200;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 5px #333;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  background: linear-gradient(hsl(209, 54%, 89%), hsl(209, 53%, 89%));
  color: #333;
  color: hsl(209, 100%, 40%);
}
.note:hover{
  filter: drop-shadow(0 0 2em hsl(209, 100%, 80%) );
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #fff;
  border: none;
  width: 72px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color: hsl(209, 100%, 40%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10%;
}
::placeholder{
  color: hsl(209, 100%, 40%);
  font-size: 1.3rem;
  font-weight: bold;
}
.note button:hover{
  background: hsl(209, 100%, 30%);
  color:#eee;
  filter: drop-shadow(0 0 2em hsl(209, 100%, 80%) );
}
form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: linear-gradient(hsl(209, 54%, 89%), hsl(209, 53%, 89%));
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 5px #333;
  border:#333;
}
form:hover{
  filter: drop-shadow(0 0 2em hsl(209, 100%, 80%) );
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background: transparent;
  color: hsl(209, 100%, 40%);
  font-weight: bold;
}
form button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: hsl(209, 100%, 40%);
  color: #fff;
  border: none;
  border-radius: 10%;
  width: 72px;
  height: 36px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
form button:hover{
  background: hsl(209, 100%, 30%);
  color:#eee;
  filter: drop-shadow(0 0 1em hsl(209, 100%, 80%) );
}
